body {
    display: flex;
    flex-direction: column;


    div {
        width: 20vw;
        flex-wrap: wrap;
        border-style: dashed;
        border-color: black;
        display: flex;
        margin: 10px;
    }
    ul {
        // display: flex;
        text-align: center;
        align-items: center;
        // flex-basis: auto;
        
    }
    

}
.task--completed {
    text-decoration: line-through;
}
h2 {
    margin: 10px;
    text-align: left;
}